In [39]:
import pandas as pd
import numpy as np

In [40]:
data = pd.read_csv('/Users/luisfelipemh/Desktop/Personal/python_study_ML/Refactored_Py_DS_ML_Bootcamp-master/15-Decision-Trees-and-Random-Forests/loan_data.csv')

In [41]:
len(data['not.fully.paid'].unique())

2

In [42]:
data.columns

Index(['credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc',
       'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'pub.rec', 'not.fully.paid'],
      dtype='object')

In [43]:
data.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [44]:
def dummies(data):
    for i in data.columns:
        if len(data[i].unique())>=3 and len(data[i].unique())<=10:
            dummies = pd.get_dummies(data[i],drop_first=True,prefix=i)
            data=pd.concat([data,dummies], axis=1)
            data.drop([i],axis=1,inplace=True)
        elif data[i].dtypes=='O' and len(data[i].unique())<=10:
            if len(data[i].unique())==2:
                dummies = pd.get_dummies(data[i],drop_first=True,prefix=i)
            else:
                dummies = pd.get_dummies(data[i],drop_first=True,prefix=i)
            data=pd.concat([data,dummies], axis=1)
            data.drop([i],axis=1,inplace=True)
        elif data[i].dtypes=='O' and len(data[i].unique())>10:
            data.drop([i],axis=1,inplace=True)
    return data

In [45]:
data=dummies(data)

In [46]:
data

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,...,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business,pub.rec_1,pub.rec_2,pub.rec_3,pub.rec_4,pub.rec_5
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,...,1,0,0,0,0,0,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,...,1,0,0,0,0,0,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,...,1,0,0,0,0,0,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,...,0,0,0,0,0,0,0,0,0,0
9574,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,...,0,0,0,0,0,0,0,0,0,0
9575,0,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,...,1,0,0,0,0,0,0,0,0,0
9576,0,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,...,0,0,1,0,0,0,0,0,0,0
9577,0,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,...,1,0,0,0,0,0,0,0,0,0

In [47]:
data.columns

Index(['credit.policy', 'int.rate', 'installment', 'log.annual.inc', 'dti',
       'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'not.fully.paid',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement',
       'purpose_major_purchase', 'purpose_small_business', 'pub.rec_1',
       'pub.rec_2', 'pub.rec_3', 'pub.rec_4', 'pub.rec_5'],
      dtype='object')

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [49]:
X=data.drop(['not.fully.paid'],axis=1)
y=data['not.fully.paid']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=0)

In [51]:
y_train

963     0
8364    1
7740    0
5689    1
8392    0
       ..
7891    1
9225    0
4859    0
3264    0
2732    0
Name: not.fully.paid, Length: 7183, dtype: int64

In [52]:
#Random forest regressor importance
rf=RandomForestClassifier(n_estimators=100)

In [53]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [54]:
rf.feature_importances_

array([1.63543187e-02, 1.02955517e-01, 1.12599777e-01, 1.05860961e-01,
       1.12636615e-01, 8.03641543e-02, 1.11835814e-01, 1.12548899e-01,
       1.11375742e-01, 5.63457480e-02, 1.55670971e-02, 9.05932732e-03,
       1.41791681e-02, 6.18281746e-03, 8.00147445e-03, 5.37295781e-03,
       8.88858339e-03, 9.43205845e-03, 3.34063854e-04, 8.55245620e-05,
       1.16323529e-05, 7.74923734e-06])

In [55]:
importance_data=pd.Series(rf.feature_importances_, index=X_train.columns).sort_values(ascending=False).reset_index().rename(columns={'index':'Column',0:'Importance'})

In [56]:
important_columns=importance_data[importance_data['Importance']>=0.1]['Column'].tolist()

In [57]:
X_test=X_test[important_columns]

In [58]:
X_train=X_train[important_columns]

In [59]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [60]:
y_pred=rf.predict(X_test)

In [61]:
y_train

963     0
8364    1
7740    0
5689    1
8392    0
       ..
7891    1
9225    0
4859    0
3264    0
2732    0
Name: not.fully.paid, Length: 7183, dtype: int64

In [62]:
accuracy_score(y_test,y_pred)

0.8409185803757829

In [63]:
from sklearn.feature_selection import SelectFromModel

In [64]:
#Using select from to select the feature
X=data.drop(['not.fully.paid'],axis=1)
y=data['not.fully.paid']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=0)

In [65]:
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))

In [66]:
sel.fit(X_train,y_train)

SelectFromModel(estimator=RandomForestClassifier())

In [67]:
sel.get_support()

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [68]:
features_dictionary={}
#extract the keys where vlue is equal to true
for (key,value) in dict(list(zip(X.columns,sel.get_support()))).items():
    if value==True:
        features_dictionary[key]=value
list_features=list(features_dictionary.keys())

In [69]:
list_features

['int.rate',
 'installment',
 'log.annual.inc',
 'dti',
 'fico',
 'days.with.cr.line',
 'revol.bal',
 'revol.util',
 'inq.last.6mths']

In [70]:
X_test=X_test[list_features]
X_train=X_train[list_features]

In [71]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [72]:
y_pred=rf.predict(X_test)

In [73]:
#the accuracy is betther through this method
accuracy_score(y_test,y_pred)

0.8396659707724425