In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('/Users/luisfelipemh/Desktop/Personal/python_study_ML/zomato.csv')

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
#through this way 
(data.isna().sum()/data.shape[0])*100

In [ ]:
True in data["url"].isna().tolist()

In [ ]:
for column in data.columns:
    if True in data[column].isna().tolist():
        print(str(column) + "has the following percentage of NaN values: " + str((data[column].isna().sum()/data[column].shape[0])*100)+"%")
    else:
        print(column, "hasn't Nan values")

In [ ]:
#get a dictionary of sum of null values
null_dict={column:[data[column].isna().sum(),data[column].isna().sum()/data[column].shape[0]*100]
 for column in data.columns if data[column].isna().sum()>0}

In [ ]:
sorted(null_dict.items(), key=lambda x: x[1][0], reverse=False)

In [ ]:
l=[]
for k,v in null_dict.items():
    l.append(null_dict[k][0])

In [ ]:
print(l)

In [ ]:
data.head(n=5)

In [ ]:
#lambda function for give me unique values
unique_values=lambda x,y:x[y].unique()

In [ ]:
unique_values(data,'approx_cost(for two people)')

In [ ]:
#the challenge is convert the strings into numbers

In [ ]:
for i in data['approx_cost(for two people)']:
    print(str(i).replace(",",""))

In [ ]:
def reemplazador(x):
    return x.replace(",","")

In [ ]:
def reemplazador2(x):
    if "a" in str(x):
        return 0
    else:
        a = int(x.replace(",",""))
        return a

In [ ]:
#astype: cast a pandas object to a specified dtype
data["approx_cost(for two people)"].astype(str).apply(lambda x: x.replace(",","")).tolist()

In [ ]:
data["approx_cost(for two people)"]=data["approx_cost(for two people)"].astype(str).apply(lambda x: reemplazador2(x))

In [ ]:
data["rate"]

In [ ]:
#{(i,len(i)) for i in data["rate"].unique() if type(i)==str}

In [ ]:
#[float(i[0:3]) for i in data["rate"].unique() if type(i)==str and len(i)==5]

In [ ]:
def rate_conversor(x):
    if (len(x)==5 or len(x)==6) and type(x)==str:
        x = float(x[0:3])
        return x
    else:
        x = 0
        return x

In [ ]:
#The Astype function its very important to convert strings into floats
data["rate"]=data["rate"].astype(str).apply(lambda x: rate_conversor(x))

In [ ]:
data["rate"].unique()

In [ ]:
#other option is : data=data.astype(float)

In [ ]:
data["rest_type"].unique()

In [ ]:
data.groupby("rest_type").count().reset_index()[["rest_type","url"]].sort_values(by=["url"], ascending=False).head(n=40)

In [ ]:
data["rest_type"].value_counts().nlargest(20).plot.bar(color="Red")

In [ ]:
#challenge, we saw the chart, we will use onlthe two first features, for the other 
#we are going to name them as "other"
def bites_casual(x):
    if x=='Quick Bites' or x=='Casual Dining':
        return 'Quick Bites + Casual Dining'
    else:
        return 'other'

In [ ]:
data["rest_type"]=data["rest_type"].apply(lambda x: bites_casual(x))

In [ ]:
import plotly.express as px

In [ ]:
data.dtypes

In [ ]:
data.head(n=2)

In [ ]:
#we can make a dynamic table, as follows this example
rest=data.groupby("name").agg({"votes":"sum",'url':'count','approx_cost(for two people)':'mean'
                         ,"rate":"mean"}).reset_index()

In [ ]:
rest.columns=['name','total_votes','total_unities','avg_approx_cost','mean_rating']

In [ ]:
rest.head()

In [ ]:
rest['votes_per_unity']=rest['total_votes']/rest['total_unities']

In [ ]:
rest=rest.sort_values(by='mean_rating',ascending=False)

In [ ]:
# (1,3) 3 figuras horizontales
# (3,1) 3 figuras verticales
#fig, (ax1,ax2,ax2)=plt.subplots(3,1,figsize=(20,30))
#ax1.text(0.5,0.95,"hp")

In [ ]:
#find the best budget restaurant.

In [ ]:
data.head()

In [ ]:
data[(data["approx_cost(for two people)"]<=400) & (data["location"]=="BTM") & (data["rate"]>=4)]

In [ ]:
data.head()

In [ ]:
from wordcloud import WordCloud, STOPWORDS

In [ ]:
data["reviews_list"]

In [ ]:
lista=[]
for i in data["reviews_list"]:
    lista.append(type(i))

In [ ]:
def unicos_list(lista):
    unique_list=[]
    for x in lista:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print(x)

In [ ]:
unicos_list(lista)

In [ ]:
for comment in data["dish_liked"]:
    if type(comment)!=float:
        print(comment.split())

In [ ]:
prueba1=['Pasta,', 'Lunch', 'Buffet,', 'Masala', 'Papad,', 'Paneer', 'Lajawab,', 'Tomato', 'Shorba,', 'Dum', 'Biryani,', 'Sweet', 'Corn', 'Soup']
prueba2=['Momos,', 'Lunch', 'Buffet,', 'Chocolate', 'Nirvana,', 'Thai', 'Green', 'Curry,', 'Paneer', 'Tikka,', 'Dum', 'Biryani,', 'Chicken', 'Biryani']

In [ ]:
" ".join(prueba1)

In [ ]:
#for comment in data["dish_liked"]:
    #if type(comment)!=float:
        #print(comment.split())
        #for i in comment:
            #print(i)

In [ ]:
for comment in data["dish_liked"]:
    if type(comment)!=float:
        words=comment.split()
        print(words)
    elif type(comment)==float:
        words=str(comment).split()
        print(words)

In [ ]:
total=""
for comment in data["dish_liked"].astype(str):
    words=comment.split()
    for index in range(len(words)): #words is a list
        words[index]=words[index].lower()       
    total=total+" ".join(words).replace(",","")

In [ ]:
total

In [ ]:
a_list = ["a ", "b ", "c"]

In [ ]:
for index in range(len(a_list)):
    print(a_list[index])

In [ ]:
for item in a_list:
    print(item)

In [ ]:
prueba=total.split(" ")

In [ ]:
{k,v}

In [ ]:
prueba=["pips","pips","pips","mits","mits","sep"]

In [ ]:
unique_list=[]
for x in lista:
    if x not in unique_list:
        unique_list.append(x)
for x in unique_list:
    print(x)

In [ ]:
wordfreq={}
for raw_word in prueba:
    word = raw_word.strip(".,-_")
    if word not in wordfre:
        wordfreq[word] = 0 
    wordfreq[word] += 1

In [ ]:
prueba.count("pips")

In [ ]:
{i:prueba.count(i) for i in prueba}